<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>REST Countries API with color them switcher</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" />
  <link rel="stylesheet" href="style.css" />
</head>

<body>
  <main id="app">
    <div class="app" :class="themeMode ? 'light':''">
      <header>
        <a href="#" class="logo">Where in the world?</a>
        <button class="btn-toggle" @click="changeThemeModel" v-if="themeMode">
          <i class="fa-solid fa-moon"></i><span>Dark Mode</span>
        </button>
        <button class="btn-toggle" @click="changeThemeModel" v-else>
          <i class="fa-solid fa-sun"></i><span>Ligth Mode</span>
        </button>
      </header>


      <div class="main-container">
        <section class="search-filter-container">
          <div class="search-field">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input v-model="searchTextCotnent" class="search-input" type="text" placeholder="Search for a country..." />
          </div>

          <select v-model="regionCountryFilter" name="regions" id="regions" aria-label="regions">
            <option value="">Filter by Region</option>
            <option value="all">All</option>
            <option value="africa">Africa</option>
            <option value="americas">America</option>
            <option value="asia">Asia</option>
            <option value="europe">Europe</option>
            <option value="oceania">Oceania</option>
          </select>          
        </section>

        <p style="color:white" v-show="lowPoblation">Todos los paises aqui mostrados tienen pocos habitantes</p>

        <section v-if="currentTarget != {}" class="modal country-info-page" :class="modalActive">
          <div class="modal-content">
            <!-- Boton de volver atras del modal -->
            <button class="btn back-btn" @click="toggleModal">
              <i class="fa-solid fa-arrow-left"></i>Back
            </button>

            <div class="country-details">

              <div class="modal-flag">
                <img :src="currentTarget.flags.png" :alt="currentTarget.name.common">
              </div>
              <div class="country-content">
                <h3 class="modal-title">{{currentTarget.name.official}}</h3>
                <div class="country-content-middle">
                  <div class="content-middle-left">
                    <div class="native-name country-info">
                      <span>Native Name</span>
                      <span>{{currentTarget.name.common}}</span>
                    </div>
                    <div class="population country-info">
                      <span>Population</span>
                      <span>{{currentTarget.population}}</span>
                    </div>
                    <div class="region country-info">
                      <span>Region</span>
                      <span>{{currentTarget.region}}</span>
                    </div>
                    <div class="subregion country-info">
                      <span>Subregion</span>
                      <span>{{currentTarget.subregion}}</span>
                    </div>
                    <div class="capital country-info">
                      <span>Capital</span>
                      <span>{{Array.isArray(currentTarget.capital) ?
                        currentTarget.capital[0]:currentTarget.capital}}</span>
                    </div>
                  </div>
                  <div class="content-middle-right">
                    <div class="domain country-info">
                      <span>Top Level Domain</span>
                      <span>{{currentTarget.tld[0]}}</span>
                    </div>
                    <div class="fifa country-info">
                      <span>Currencies</span>
                      <span>{{currentTarget.fifa}}</span>
                    </div>
                    <div class="Lenguages country-info">
                      <span>Lenguajes</span>
                      <span v-for="leng in currentTarget.languages">
                        {{leng}},
                      </span>
                    </div>
                  </div>                 
                </div>

                <!-- Aapartado para poner los paises que hacen frontera -->
                <div class="border-country-container">
                  <span>Border Countries: </span>
                  <div class="country-buttons">
                    <p v-if="!currentTarget.borders">No border countries</p>
                    <button class="btn" v-for="borderCountry in currentTarget.borders">
                      {{ borderCountry }}
                    </button>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </section>

        <div class="cards">
          <div v-for="country in countries">
            <div @click="changeCurrentTarget(country)" class="card card-nombreDelPais">
              <!-- Pista pasa usar el v-for-->
              <img class="flag" :src="country.flags.png" alt="nombreDelPais flag" />
              <div class="content">
                <h3 class="name">{{country.name.common}}</h3>
                <div><span class="country-info">Population: </span><span
                    class="population">{{country.population}}</span>
                </div>
                <div><span class="country-info">Region: </span><span class="region">{{country.region}}</span></div>

                <div v-if="Array.isArray(country.capital)"><span v-if="" class="country-info">Capital: </span><span
                    class="capital">{{Array.isArray(country.capital) ? country.capital[0]:country.capital}}</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <script src="https://unpkg.com/vue@3"></script>
  <script src="./main.js"></script>

</body>

</html>